name: build

on: [workflow_call]

jobs:
  nix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
      - run: nix build
  native:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
      - run: go build
  image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: podman
          version: 1.0
      - run: podman build .
  nix-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
      - run: nix build .#suslik-image
      - uses: actions/upload-artifact@v6
        with:
          name: suslik-image
          path: result
          retention-days: 1
