name: workflow

on:
  push:
    branches: ["**"]

jobs:
  lint:
    uses: ./.github/workflows/lint.yaml
  build:
    needs: [lint]
    uses: ./.github/workflows/build.yaml
  test:
    needs: [build]
    uses: ./.github/workflows/test.yaml
  publish:
    needs: [test]
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/publish.yaml
